*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial;
    font-size: 16px;
}

.container {
    max-width: 1200px;
    min-width: 320px;
    background-color: #eee;
    margin: 100px auto;
    padding: 10px 0;
    height: 300px;

    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    /* align-items: flex-start; */
    /* align-content: space-around; */
}
.container_element{
    border: 1px solid #000;
    padding: 10px 20px;
    box-sizing: border-box;
    margin: 20px;
}
.container_element:first-child{
    font-size: 40px;
    /* flex-basis: 300px; */
    flex-grow: 1;
}
